<nav class="battle">

  <div class="battle-text">
    <p ng-show="fight">this is a really long test string with the purpose of styling the dialogue box</p>
    <div  ng-hide="fight" class="fight-commands">
      <a class="command">{{moves[0].move.name}}</a>
      <a class="command">{{moves[1].move.name}}</a>
      <a class="command">{{moves[2].move.name}}</a>
      <a class="command">{{moves[3].move.name}}</a>
    </div>

  </div>

  <div class="commands" ng-show="fight">
    <a class="command" ng-click="letsFight()">Fight</a>
    <a class="command">Pokemon</a>
    <a class="command">Bag</a>
    <a class="command" ui-sref="main-field">Run</a>
  </div>
  <div class="commands" ng-hide="fight">
    <a class="command"></a>
    <a class="command"></a><br>
    <a class="command"></a>
    <a class="command" ng-click="letsFight()">Back</a>
  </div>

</nav>
