<section class="bg-lab">
<nav-menu></nav-menu>

<audio src="imgs/oak-research-lab.mp3" type="audio/mpeg" autoplay>

</audio>

<div class='ball1' ng-click="setOwnPokemon(1)"></div>
<div class='ball2' ng-click="setOwnPokemon(4)"></div>
<div class='ball3' ng-click="setOwnPokemon(7)"></div>

<div class="char-back"></div>
<img src="imgs/char-right.png" ng-show="myPokemon" class="char-right">

<img class="lab-pokemon" ng-src="{{myPokemon.sprites.front_default}}">
<div class="lab-text">
  <p ng-hide="myPokemon" style="margin-left:3%;">Professor Oak: Go ahead, choose your first Pokemon by clicking on one of the pokeballs and head to the field from the menu. If you want to try out someone else, just come back. </p>
  <p ng-show="myPokemon" style="margin-left:3%;">...{{myPokemon.name}}? Great choice!</p>
</div>
</section>
