body {
  height: 100vh;
  background: url("../imgs/background2.png") center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

}


.console {
  min-height: 600px;
  max-height: 680px;
  width: 100%;
  max-width: 1050px;
  background: url('../imgs/big-gameboy.png') center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-window {
  height: 300px;
  width: 450px;
  position: relative;
  margin-bottom: 4%;
}


@font-face {
  font-family: 'pokemon-font';
  src: url('../pokemon-font/fonts/pokemon-font.eot'); /* IE9 Compat Modes */
  src: url('../pokemon-font/fonts/pokemon-font.otf') format('embedded-opentype'), /* IE6-IE8 */
       url('../pokemon-font/fonts/pokemon-font.ttf') format('woff2'), /* Super Modern Browsers */
       url('../pokemon-font/fonts/pokemon-font.woff') format('woff'), /* Pretty Modern Browsers */
       url('../pokemon-font/fonts/pokemon-font.woff2')  format('truetype') /* Safari, Android, iOS */
  /* There is no SVG version of this font due to support being dropped in SVG 2 */
}

.start {
  height: 12px;
  width: 125px;
  background: url('../imgs/start.png');
  background-size: cover;
  position: absolute;
  top:77%;
  left: 23%;
}

.menu {
  height: 47%;
  width: 25%;
  background: url('../imgs/nav-menu.png');
  background-size: cover;
  position: absolute;
  color: black;
  right:0;
  z-index: 1;
  font-family: 'pokemon-font';
  font-size: 11px;
}

.menu-item {

  line-height: 2.5;
  margin-left: 13%;
  text-decoration: none;
  letter-spacing: -1px;
}


.mini-menu {
  height:15%;
  width: 3%;
  background-color: white;
  -webkit-border-radius: 50% 0 0 50%;
  border-radius: 50% 0 0 50%;
  position: absolute;
  right:0;
  top: 15%;
  font-size: 15px;
}

.home {
  height: 100%;
  width: 100%;
  background: url('../imgs/home-splash.png') center center no-repeat;
  background-size: cover;
  -webkit-animation: fadein 3s;
}

.char-back {
  position: absolute;
  left: 48%;
  top: 38%;
  height: 13%;
  width: 6%;
  background: url("../imgs/char-back.png");
  background-size: cover;
  -webkit-animation: walkup 2s
}

.char-right {
  position: absolute;
  left: 48%;
  top: 38%;
  height: 13%;
  width: 6%;
}

.bg-pokecenter {
  height: 100%;
  width: 100%;
  background: url('../imgs/pokecenter.png') center center no-repeat;
  background-size: cover;
}

.bg-pokemart {
  height: 100%;
  width: 100%;
  background: url('../imgs/Pokemart.png') center center no-repeat;
  background-size: cover;
}

.bg-lab {
  height: 100%;
  width: 100%;
  background: url('../imgs/lab.png') center center no-repeat;
  background-size: cover;
}

.lab-text {
  height: 27%;
  width: 100%;
  background: url("../imgs/fight-commands.png");
  background-size: cover;
  position: absolute;
  font-family: 'pokemon-font';
  font-size: 12px;
  bottom: 0
}

.ball1 {
  height: 24px;
  width: 24px;
  background: url(../imgs/pokeball.png) no-repeat;
  background-size: cover;
  position: absolute;
  top: 25%;
  right: 32%;
  z-index: 0
}

.ball1:hover,
.ball2:hover,
.ball3:hover {
  cursor: pointer;
}

.ball2 {
  height: 24px;
  width: 24px;
  background: url(../imgs/pokeball.png) no-repeat;
  background-size: cover;
  position: absolute;
  top: 25%;
  right: 25%;
  z-index: 0
}

.ball3 {
  height: 24px;
  width: 24px;
  background: url(../imgs/pokeball.png) no-repeat;
  background-size: cover;
  position: absolute;
  top: 25%;
  right: 18%;
  z-index: 0;
}

.lab-pokemon {
  position: absolute;
  right: 15%;
  top:30%;
}



@media (max-width: 600px) {
  .console {
    height: 680px;
    width: 360px;
    background: url('../imgs/small-gameboy.png') center no-repeat;
    background-size: cover;
    align-items: flex-start;
  }
  .game-window{
    height: 180px;
    width: 265px;
    position: relative;
    margin-bottom: 2%;
    margin-left: 3%;
    margin-top: 15%;
  }

  .menu,
  .lab-text {
    font-size: 8px;
  }
}
